/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$s-agree-name: 's-agree';
$s-agree-x: 224px;
$s-agree-y: 101px;
$s-agree-offset-x: -224px;
$s-agree-offset-y: -101px;
$s-agree-width: 32px;
$s-agree-height: 33px;
$s-agree-total-width: 315px;
$s-agree-total-height: 246px;
$s-agree-image: '../images/sprite.png';
$s-agree: (224px, 101px, -224px, -101px, 32px, 33px, 315px, 246px, '../images/sprite.png', 's-agree', );
$s-com-next-name: 's-com-next';
$s-com-next-x: 256px;
$s-com-next-y: 134px;
$s-com-next-offset-x: -256px;
$s-com-next-offset-y: -134px;
$s-com-next-width: 12px;
$s-com-next-height: 25px;
$s-com-next-total-width: 315px;
$s-com-next-total-height: 246px;
$s-com-next-image: '../images/sprite.png';
$s-com-next: (256px, 134px, -256px, -134px, 12px, 25px, 315px, 246px, '../images/sprite.png', 's-com-next', );
$s-com-prev-name: 's-com-prev';
$s-com-prev-x: 256px;
$s-com-prev-y: 101px;
$s-com-prev-offset-x: -256px;
$s-com-prev-offset-y: -101px;
$s-com-prev-width: 12px;
$s-com-prev-height: 25px;
$s-com-prev-total-width: 315px;
$s-com-prev-total-height: 246px;
$s-com-prev-image: '../images/sprite.png';
$s-com-prev: (256px, 101px, -256px, -101px, 12px, 25px, 315px, 246px, '../images/sprite.png', 's-com-prev', );
$s-dot-active-name: 's-dot-active';
$s-dot-active-x: 268px;
$s-dot-active-y: 207px;
$s-dot-active-offset-x: -268px;
$s-dot-active-offset-y: -207px;
$s-dot-active-width: 13px;
$s-dot-active-height: 13px;
$s-dot-active-total-width: 315px;
$s-dot-active-total-height: 246px;
$s-dot-active-image: '../images/sprite.png';
$s-dot-active: (268px, 207px, -268px, -207px, 13px, 13px, 315px, 246px, '../images/sprite.png', 's-dot-active', );
$s-dot-name: 's-dot';
$s-dot-x: 281px;
$s-dot-y: 207px;
$s-dot-offset-x: -281px;
$s-dot-offset-y: -207px;
$s-dot-width: 13px;
$s-dot-height: 13px;
$s-dot-total-width: 315px;
$s-dot-total-height: 246px;
$s-dot-image: '../images/sprite.png';
$s-dot: (281px, 207px, -281px, -207px, 13px, 13px, 315px, 246px, '../images/sprite.png', 's-dot', );
$s-download-name: 's-download';
$s-download-x: 58px;
$s-download-y: 168px;
$s-download-offset-x: -58px;
$s-download-offset-y: -168px;
$s-download-width: 25px;
$s-download-height: 32px;
$s-download-total-width: 315px;
$s-download-total-height: 246px;
$s-download-image: '../images/sprite.png';
$s-download: (58px, 168px, -58px, -168px, 25px, 32px, 315px, 246px, '../images/sprite.png', 's-download', );
$s-email-name: 's-email';
$s-email-x: 268px;
$s-email-y: 170px;
$s-email-offset-x: -268px;
$s-email-offset-y: -170px;
$s-email-width: 38px;
$s-email-height: 37px;
$s-email-total-width: 315px;
$s-email-total-height: 246px;
$s-email-image: '../images/sprite.png';
$s-email: (268px, 170px, -268px, -170px, 38px, 37px, 315px, 246px, '../images/sprite.png', 's-email', );
$s-faq-i1-name: 's-faq-i1';
$s-faq-i1-x: 162px;
$s-faq-i1-y: 168px;
$s-faq-i1-offset-x: -162px;
$s-faq-i1-offset-y: -168px;
$s-faq-i1-width: 24px;
$s-faq-i1-height: 22px;
$s-faq-i1-total-width: 315px;
$s-faq-i1-total-height: 246px;
$s-faq-i1-image: '../images/sprite.png';
$s-faq-i1: (162px, 168px, -162px, -168px, 24px, 22px, 315px, 246px, '../images/sprite.png', 's-faq-i1', );
$s-for-grey-name: 's-for-grey';
$s-for-grey-x: 224px;
$s-for-grey-y: 200px;
$s-for-grey-offset-x: -224px;
$s-for-grey-offset-y: -200px;
$s-for-grey-width: 17px;
$s-for-grey-height: 17px;
$s-for-grey-total-width: 315px;
$s-for-grey-total-height: 246px;
$s-for-grey-image: '../images/sprite.png';
$s-for-grey: (224px, 200px, -224px, -200px, 17px, 17px, 315px, 246px, '../images/sprite.png', 's-for-grey', );
$s-for-no-name: 's-for-no';
$s-for-no-x: 224px;
$s-for-no-y: 134px;
$s-for-no-offset-x: -224px;
$s-for-no-offset-y: -134px;
$s-for-no-width: 32px;
$s-for-no-height: 33px;
$s-for-no-total-width: 315px;
$s-for-no-total-height: 246px;
$s-for-no-image: '../images/sprite.png';
$s-for-no: (224px, 134px, -224px, -134px, 32px, 33px, 315px, 246px, '../images/sprite.png', 's-for-no', );
$s-for-yes-name: 's-for-yes';
$s-for-yes-x: 224px;
$s-for-yes-y: 167px;
$s-for-yes-offset-x: -224px;
$s-for-yes-offset-y: -167px;
$s-for-yes-width: 32px;
$s-for-yes-height: 33px;
$s-for-yes-total-width: 315px;
$s-for-yes-total-height: 246px;
$s-for-yes-image: '../images/sprite.png';
$s-for-yes: (224px, 167px, -224px, -167px, 32px, 33px, 315px, 246px, '../images/sprite.png', 's-for-yes', );
$s-how-i1-name: 's-how-i1';
$s-how-i1-x: 268px;
$s-how-i1-y: 99px;
$s-how-i1-offset-x: -268px;
$s-how-i1-offset-y: -99px;
$s-how-i1-width: 46px;
$s-how-i1-height: 34px;
$s-how-i1-total-width: 315px;
$s-how-i1-total-height: 246px;
$s-how-i1-image: '../images/sprite.png';
$s-how-i1: (268px, 99px, -268px, -99px, 46px, 34px, 315px, 246px, '../images/sprite.png', 's-how-i1', );
$s-how-i2-name: 's-how-i2';
$s-how-i2-x: 268px;
$s-how-i2-y: 57px;
$s-how-i2-offset-x: -268px;
$s-how-i2-offset-y: -57px;
$s-how-i2-width: 46px;
$s-how-i2-height: 42px;
$s-how-i2-total-width: 315px;
$s-how-i2-total-height: 246px;
$s-how-i2-image: '../images/sprite.png';
$s-how-i2: (268px, 57px, -268px, -57px, 46px, 42px, 315px, 246px, '../images/sprite.png', 's-how-i2', );
$s-how-i3-name: 's-how-i3';
$s-how-i3-x: 224px;
$s-how-i3-y: 64px;
$s-how-i3-offset-x: -224px;
$s-how-i3-offset-y: -64px;
$s-how-i3-width: 35px;
$s-how-i3-height: 37px;
$s-how-i3-total-width: 315px;
$s-how-i3-total-height: 246px;
$s-how-i3-image: '../images/sprite.png';
$s-how-i3: (224px, 64px, -224px, -64px, 35px, 37px, 315px, 246px, '../images/sprite.png', 's-how-i3', );
$s-past-i1-name: 's-past-i1';
$s-past-i1-x: 168px;
$s-past-i1-y: 112px;
$s-past-i1-offset-x: -168px;
$s-past-i1-offset-y: -112px;
$s-past-i1-width: 56px;
$s-past-i1-height: 56px;
$s-past-i1-total-width: 315px;
$s-past-i1-total-height: 246px;
$s-past-i1-image: '../images/sprite.png';
$s-past-i1: (168px, 112px, -168px, -112px, 56px, 56px, 315px, 246px, '../images/sprite.png', 's-past-i1', );
$s-past-i10-name: 's-past-i10';
$s-past-i10-x: 168px;
$s-past-i10-y: 56px;
$s-past-i10-offset-x: -168px;
$s-past-i10-offset-y: -56px;
$s-past-i10-width: 56px;
$s-past-i10-height: 56px;
$s-past-i10-total-width: 315px;
$s-past-i10-total-height: 246px;
$s-past-i10-image: '../images/sprite.png';
$s-past-i10: (168px, 56px, -168px, -56px, 56px, 56px, 315px, 246px, '../images/sprite.png', 's-past-i10', );
$s-past-i11-name: 's-past-i11';
$s-past-i11-x: 168px;
$s-past-i11-y: 0px;
$s-past-i11-offset-x: -168px;
$s-past-i11-offset-y: 0px;
$s-past-i11-width: 56px;
$s-past-i11-height: 56px;
$s-past-i11-total-width: 315px;
$s-past-i11-total-height: 246px;
$s-past-i11-image: '../images/sprite.png';
$s-past-i11: (168px, 0px, -168px, 0px, 56px, 56px, 315px, 246px, '../images/sprite.png', 's-past-i11', );
$s-past-i12-name: 's-past-i12';
$s-past-i12-x: 56px;
$s-past-i12-y: 0px;
$s-past-i12-offset-x: -56px;
$s-past-i12-offset-y: 0px;
$s-past-i12-width: 56px;
$s-past-i12-height: 56px;
$s-past-i12-total-width: 315px;
$s-past-i12-total-height: 246px;
$s-past-i12-image: '../images/sprite.png';
$s-past-i12: (56px, 0px, -56px, 0px, 56px, 56px, 315px, 246px, '../images/sprite.png', 's-past-i12', );
$s-past-i2-name: 's-past-i2';
$s-past-i2-x: 112px;
$s-past-i2-y: 112px;
$s-past-i2-offset-x: -112px;
$s-past-i2-offset-y: -112px;
$s-past-i2-width: 56px;
$s-past-i2-height: 56px;
$s-past-i2-total-width: 315px;
$s-past-i2-total-height: 246px;
$s-past-i2-image: '../images/sprite.png';
$s-past-i2: (112px, 112px, -112px, -112px, 56px, 56px, 315px, 246px, '../images/sprite.png', 's-past-i2', );
$s-past-i3-name: 's-past-i3';
$s-past-i3-x: 56px;
$s-past-i3-y: 112px;
$s-past-i3-offset-x: -56px;
$s-past-i3-offset-y: -112px;
$s-past-i3-width: 56px;
$s-past-i3-height: 56px;
$s-past-i3-total-width: 315px;
$s-past-i3-total-height: 246px;
$s-past-i3-image: '../images/sprite.png';
$s-past-i3: (56px, 112px, -56px, -112px, 56px, 56px, 315px, 246px, '../images/sprite.png', 's-past-i3', );
$s-past-i4-name: 's-past-i4';
$s-past-i4-x: 0px;
$s-past-i4-y: 0px;
$s-past-i4-offset-x: 0px;
$s-past-i4-offset-y: 0px;
$s-past-i4-width: 56px;
$s-past-i4-height: 56px;
$s-past-i4-total-width: 315px;
$s-past-i4-total-height: 246px;
$s-past-i4-image: '../images/sprite.png';
$s-past-i4: (0px, 0px, 0px, 0px, 56px, 56px, 315px, 246px, '../images/sprite.png', 's-past-i4', );
$s-past-i5-name: 's-past-i5';
$s-past-i5-x: 112px;
$s-past-i5-y: 56px;
$s-past-i5-offset-x: -112px;
$s-past-i5-offset-y: -56px;
$s-past-i5-width: 56px;
$s-past-i5-height: 56px;
$s-past-i5-total-width: 315px;
$s-past-i5-total-height: 246px;
$s-past-i5-image: '../images/sprite.png';
$s-past-i5: (112px, 56px, -112px, -56px, 56px, 56px, 315px, 246px, '../images/sprite.png', 's-past-i5', );
$s-past-i6-name: 's-past-i6';
$s-past-i6-x: 112px;
$s-past-i6-y: 0px;
$s-past-i6-offset-x: -112px;
$s-past-i6-offset-y: 0px;
$s-past-i6-width: 56px;
$s-past-i6-height: 56px;
$s-past-i6-total-width: 315px;
$s-past-i6-total-height: 246px;
$s-past-i6-image: '../images/sprite.png';
$s-past-i6: (112px, 0px, -112px, 0px, 56px, 56px, 315px, 246px, '../images/sprite.png', 's-past-i6', );
$s-past-i7-name: 's-past-i7';
$s-past-i7-x: 56px;
$s-past-i7-y: 56px;
$s-past-i7-offset-x: -56px;
$s-past-i7-offset-y: -56px;
$s-past-i7-width: 56px;
$s-past-i7-height: 56px;
$s-past-i7-total-width: 315px;
$s-past-i7-total-height: 246px;
$s-past-i7-image: '../images/sprite.png';
$s-past-i7: (56px, 56px, -56px, -56px, 56px, 56px, 315px, 246px, '../images/sprite.png', 's-past-i7', );
$s-past-i8-name: 's-past-i8';
$s-past-i8-x: 0px;
$s-past-i8-y: 56px;
$s-past-i8-offset-x: 0px;
$s-past-i8-offset-y: -56px;
$s-past-i8-width: 56px;
$s-past-i8-height: 56px;
$s-past-i8-total-width: 315px;
$s-past-i8-total-height: 246px;
$s-past-i8-image: '../images/sprite.png';
$s-past-i8: (0px, 56px, 0px, -56px, 56px, 56px, 315px, 246px, '../images/sprite.png', 's-past-i8', );
$s-past-i9-name: 's-past-i9';
$s-past-i9-x: 0px;
$s-past-i9-y: 112px;
$s-past-i9-offset-x: 0px;
$s-past-i9-offset-y: -112px;
$s-past-i9-width: 56px;
$s-past-i9-height: 56px;
$s-past-i9-total-width: 315px;
$s-past-i9-total-height: 246px;
$s-past-i9-image: '../images/sprite.png';
$s-past-i9: (0px, 112px, 0px, -112px, 56px, 56px, 315px, 246px, '../images/sprite.png', 's-past-i9', );
$s-phone-name: 's-phone';
$s-phone-x: 268px;
$s-phone-y: 133px;
$s-phone-offset-x: -268px;
$s-phone-offset-y: -133px;
$s-phone-width: 38px;
$s-phone-height: 37px;
$s-phone-total-width: 315px;
$s-phone-total-height: 246px;
$s-phone-image: '../images/sprite.png';
$s-phone: (268px, 133px, -268px, -133px, 38px, 37px, 315px, 246px, '../images/sprite.png', 's-phone', );
$s-where-i1-name: 's-where-i1';
$s-where-i1-x: 109px;
$s-where-i1-y: 168px;
$s-where-i1-offset-x: -109px;
$s-where-i1-offset-y: -168px;
$s-where-i1-width: 26px;
$s-where-i1-height: 27px;
$s-where-i1-total-width: 315px;
$s-where-i1-total-height: 246px;
$s-where-i1-image: '../images/sprite.png';
$s-where-i1: (109px, 168px, -109px, -168px, 26px, 27px, 315px, 246px, '../images/sprite.png', 's-where-i1', );
$s-where-i2-name: 's-where-i2';
$s-where-i2-x: 0px;
$s-where-i2-y: 221px;
$s-where-i2-offset-x: 0px;
$s-where-i2-offset-y: -221px;
$s-where-i2-width: 24px;
$s-where-i2-height: 25px;
$s-where-i2-total-width: 315px;
$s-where-i2-total-height: 246px;
$s-where-i2-image: '../images/sprite.png';
$s-where-i2: (0px, 221px, 0px, -221px, 24px, 25px, 315px, 246px, '../images/sprite.png', 's-where-i2', );
$s-where-i3-name: 's-where-i3';
$s-where-i3-x: 83px;
$s-where-i3-y: 168px;
$s-where-i3-offset-x: -83px;
$s-where-i3-offset-y: -168px;
$s-where-i3-width: 26px;
$s-where-i3-height: 27px;
$s-where-i3-total-width: 315px;
$s-where-i3-total-height: 246px;
$s-where-i3-image: '../images/sprite.png';
$s-where-i3: (83px, 168px, -83px, -168px, 26px, 27px, 315px, 246px, '../images/sprite.png', 's-where-i3', );
$s-where-i4-name: 's-where-i4';
$s-where-i4-x: 135px;
$s-where-i4-y: 168px;
$s-where-i4-offset-x: -135px;
$s-where-i4-offset-y: -168px;
$s-where-i4-width: 27px;
$s-where-i4-height: 24px;
$s-where-i4-total-width: 315px;
$s-where-i4-total-height: 246px;
$s-where-i4-image: '../images/sprite.png';
$s-where-i4: (135px, 168px, -135px, -168px, 27px, 24px, 315px, 246px, '../images/sprite.png', 's-where-i4', );
$s-who-i1-name: 's-who-i1';
$s-who-i1-x: 224px;
$s-who-i1-y: 0px;
$s-who-i1-offset-x: -224px;
$s-who-i1-offset-y: 0px;
$s-who-i1-width: 44px;
$s-who-i1-height: 64px;
$s-who-i1-total-width: 315px;
$s-who-i1-total-height: 246px;
$s-who-i1-image: '../images/sprite.png';
$s-who-i1: (224px, 0px, -224px, 0px, 44px, 64px, 315px, 246px, '../images/sprite.png', 's-who-i1', );
$s-who-i2-name: 's-who-i2';
$s-who-i2-x: 268px;
$s-who-i2-y: 0px;
$s-who-i2-offset-x: -268px;
$s-who-i2-offset-y: 0px;
$s-who-i2-width: 47px;
$s-who-i2-height: 57px;
$s-who-i2-total-width: 315px;
$s-who-i2-total-height: 246px;
$s-who-i2-image: '../images/sprite.png';
$s-who-i2: (268px, 0px, -268px, 0px, 47px, 57px, 315px, 246px, '../images/sprite.png', 's-who-i2', );
$s-who-i3-name: 's-who-i3';
$s-who-i3-x: 0px;
$s-who-i3-y: 168px;
$s-who-i3-offset-x: 0px;
$s-who-i3-offset-y: -168px;
$s-who-i3-width: 58px;
$s-who-i3-height: 53px;
$s-who-i3-total-width: 315px;
$s-who-i3-total-height: 246px;
$s-who-i3-image: '../images/sprite.png';
$s-who-i3: (0px, 168px, 0px, -168px, 58px, 53px, 315px, 246px, '../images/sprite.png', 's-who-i3', );
$spritesheet-width: 315px;
$spritesheet-height: 246px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($s-agree, $s-com-next, $s-com-prev, $s-dot-active, $s-dot, $s-download, $s-email, $s-faq-i1, $s-for-grey, $s-for-no, $s-for-yes, $s-how-i1, $s-how-i2, $s-how-i3, $s-past-i1, $s-past-i10, $s-past-i11, $s-past-i12, $s-past-i2, $s-past-i3, $s-past-i4, $s-past-i5, $s-past-i6, $s-past-i7, $s-past-i8, $s-past-i9, $s-phone, $s-where-i1, $s-where-i2, $s-where-i3, $s-where-i4, $s-who-i1, $s-who-i2, $s-who-i3, );
$spritesheet: (315px, 246px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
