// Functions 

//Добавить
//- вывод буллета для одного элемента списка
//- добавление шрифта по моему стандарту
//- расчет и вывод размеров блока с учетом размера, отступов и границ


// Добавление шрифтов
// В папке шрифтов должны лежать файлы шрифта в формате .eot, .woff, .ttf и .svg
// Переменные:
// $font-file - название файлов шрифтов
// $font-name - название по которому пото будем обращатся к шрифту (по умолчанию = $font-file)
// $font-style - стиль шрифта (по умолчанию - normal)
// $font-weight - вес шрифта (по умолчанию - normal)
@mixin add-font($font-file, $font-name:$font-file, $font-style:normal, $font-weight:normal){
	@font-face {
    	font-family: $font-name;
    	src: font-url($font-file +'.eot');
    	src: font-url($font-file +'.eot?#iefix') format('embedded-opentype'), //IE fix
    	font-url($font-file + '.svg') format('svg'), // .svg помещен сюда и записан в таком формате, а не name.svg#name для обеспечения сглаживания в Chrome и ему подобных браузерах.
        font-url($font-file + '.woff') format('woff'),
        font-url($font-file + '.ttf') format('truetype');         	
    	font-style: $font-style;
    	font-weight: $font-weight;
    	text-rendering: optimizeLegibility;
	}
}

// Добавляет отднотипные буллеты в виде картинок для всех элементов списка
// $bullet-icon - название файла
// $top - отступ сверху (по усоляанию 0)
// $margin-right - отступ от буллета до элемента списка (по умолчанию 0)
// $width - ширина буддета (по умолчанию = ширине картинки)
// $height - высота буллета (по умолчанию = высоте картинки)
@mixin list-bullets-icons($bullet-icon, $top: 0, $margin-right: 0, $width: image-width($bullet-icon), $height: image-height($bullet-icon)){
	margin-left: 0;
	padding-left: ($width + $margin-right);
	li {
		list-style-type: none;	
		position: relative;

		&:before{
			content: '';
			display: inline-block;
			position: absolute;
			width: $width;
			height: $height;
			left: - ($width + $margin-right);
			top: $top;
			background: image-url($bullet-icon) no-repeat;
		}
	}
} 


@mixin bullet-icon($bullet-icon, $line-height: image-height($bullet-icon), $padding: 0, $font-size: 16px, $width: image-width($bullet-icon), $height: image-height($bullet-icon)){
	position: relative;
	list-style-type: none;
	padding-left: em( ( $width + $padding ), $font-size);

	&:before{
		content: '';
		display: inline-block;
		position: absolute;
		width: em($width, $font-size);
		height: em($height, $font-size);
		left: 0;
		top: em( ($height - $line-height) / - 2, $font-size);
		background: url('../img/' + $bullet-icon) no-repeat;
		background-size: contain;
	}
}

@mixin bg-img($img, $size: 'cover', $repeat: no-repeat){
	background: url('../img/' + $img) $repeat;
	@include background-size($size);
}

@function em($target, $context: $base-font-size) {
	@if $target == 0 { @return 0 }
	@return $target / $context + 0em;
}

@function per($value, $context: $base-width){
	@if $value == 0 { @return 0}
	@return $value / $context * 100%;
}