/**
 * Meyer reset
 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Reset test */
.nun html, .nun body, .nun div, .nun span, .nun applet, .nun object, .nun iframe, .nun h1, .nun h2, .nun h3, .nun h4, .nun h5, .nun h6, .nun p, .nun blockquote, .nun pre, .nun a, .nun abbr, .nun acronym, .nun address, .nun big, .nun cite, .nun code, .nun del, .nun dfn, .nun em, .nun img, .nun ins, .nun kbd, .nun q, .nun s, .nun samp, .nun small, .nun strike, .nun strong, .nun sub, .nun sup, .nun tt, .nun var, .nun b, .nun u, .nun i, .nun center, .nun dl, .nun dt, .nun dd, .nun ol, .nun ul, .nun li, .nun fieldset, .nun form, .nun label, .nun legend, .nun table, .nun caption, .nun tbody, .nun tfoot, .nun thead, .nun tr, .nun th, .nun td, .nun article, .nun aside, .nun canvas, .nun details, .nun embed, .nun figure, .nun figcaption, .nun footer, .nun header, .nun hgroup, .nun menu, .nun nav, .nun output, .nun ruby, .nun section, .nun summary, .nun time, .nun mark, .nun audio, .nun video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
.nun article, .nun aside, .nun details, .nun figcaption, .nun figure, .nun footer, .nun header, .nun hgroup, .nun menu, .nun nav, .nun section {
  display: block; }
.nun body {
  line-height: 1; }
.nun ol, .nun ul {
  list-style: none; }
.nun blockquote, .nun q {
  quotes: none; }
.nun blockquote:before, .nun blockquote:after {
  content: "";
  content: none; }
.nun q:before, .nun q:after {
  content: "";
  content: none; }
.nun table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }
button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover, .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before, .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
   * Remove all paddings around the image on small screen
   */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
#formsendHover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2); }

.form-loading {
  top: 50%;
  margin-top: -2em;
  left: 50%;
  margin-left: -2em;
  background-color: transparent;
  border: 3px solid #1277c2;
  position: absolute;
  border-radius: 50%;
  border-top-color: transparent;
  border-right-color: transparent;
  width: 2em;
  height: 2em;
  display: inline-block;
  vertical-align: middle;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: spinner-animation 0.65s infinite linear;
  animation: spinner-animation 0.65s infinite linear; }

.error {
  border: 1px solid red !important; }

.form-status {
  font-size: 12px;
  color: #00a3dc;
  padding-top: 15px;
  display: block;
  text-align: center; }

#thanks {
  position: relative;
  width: 300px;
  margin: 0 auto;
  background: #fff; }

@-webkit-keyframes spinner-animation {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spinner-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.s-big-rubl {
  background-image: url(../img/sprite.png);
  background-position: -121px 0px;
  width: 20px;
  height: 25px; }

.s-btn {
  background-image: url(../img/sprite.png);
  background-position: -121px -94px;
  width: 16px;
  height: 14px; }

.s-cart-rubl {
  background-image: url(../img/sprite.png);
  background-position: -141px -39px;
  width: 13px;
  height: 16px; }

.s-close-form {
  background-image: url(../img/sprite.png);
  background-position: -141px -67px;
  width: 9px;
  height: 9px; }

.s-close {
  background-image: url(../img/sprite.png);
  background-position: 0px -109px;
  width: 18px;
  height: 18px; }

.s-contacts-geol {
  background-image: url(../img/sprite.png);
  background-position: 0px 0px;
  width: 61px;
  height: 80px; }

.s-contacts-phone {
  background-image: url(../img/sprite.png);
  background-position: -61px 0px;
  width: 60px;
  height: 80px; }

.s-delete {
  background-image: url(../img/sprite.png);
  background-position: -25px -80px;
  width: 26px;
  height: 26px; }

.s-drop {
  background-image: url(../img/sprite.png);
  background-position: -141px -55px;
  width: 11px;
  height: 12px; }

.s-geol {
  background-image: url(../img/sprite.png);
  background-position: -121px -72px;
  width: 16px;
  height: 22px; }

.s-i-phone {
  background-image: url(../img/sprite.png);
  background-position: -76px -80px;
  width: 23px;
  height: 23px; }

.s-icon-main-phone {
  background-image: url(../img/sprite.png);
  background-position: -141px -20px;
  width: 13px;
  height: 19px; }

.s-icon-time {
  background-image: url(../img/sprite.png);
  background-position: -99px -80px;
  width: 18px;
  height: 19px; }

.s-main-icon-point {
  background-image: url(../img/sprite.png);
  background-position: -141px 0px;
  width: 13px;
  height: 20px; }

.s-minus {
  background-image: url(../img/sprite.png);
  background-position: -141px -76px;
  width: 5px;
  height: 4px; }

.s-plus {
  background-image: url(../img/sprite.png);
  background-position: -146px -76px;
  width: 5px;
  height: 4px; }

.s-rubl-big {
  background-image: url(../img/sprite.png);
  background-position: 0px -80px;
  width: 25px;
  height: 29px; }

.s-rubl {
  background-image: url(../img/sprite.png);
  background-position: -121px -51px;
  width: 18px;
  height: 21px; }

.s-s-cart {
  background-image: url(../img/sprite.png);
  background-position: -51px -80px;
  width: 25px;
  height: 24px; }

.s-s-phone {
  background-image: url(../img/sprite.png);
  background-position: -121px -25px;
  width: 16px;
  height: 26px; }

/*END Pages*/
